{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center w-screen mt-8">
 <div class="lg:w-[50%] sm:w-screen md:w-[70%]">
    <section>
        <div class="container mx-auto">
            <h1 class="text-4xl font-bold mb-4">Welcome to Foot Galaxy!</h1>
            <p class="text-lg text-gray-700">We are a premier destination for all football enthusiasts, offering top-quality jerseys and comprehensive training plans to elevate your game. With our well-established stores in London, we are dedicated to providing the best products and services to football lovers in the region.</p>

            <h2 class="text-3xl font-bold mt-8 mb-4">Our History</h2>
            <p class="text-lg text-gray-700">Founded by passionate football aficionados, our journey began in the bustling city of London. Our founders, driven by their love for the sport and a vision to bring football enthusiasts together, embarked on a mission to create a one-stop destination for all things football-related. With a focus on quality, authenticity, and customer satisfaction, we quickly gained popularity and expanded our presence to cater to the ever-growing demand.</p>

            <h2 class="text-3xl font-bold mt-8 mb-4">Our Stores</h2>
            <p class="text-lg text-gray-700">Our flagship store, located in the heart of London, has been a hub for football fans seeking the latest, official jerseys of their favorite clubs and national teams. Boasting an extensive collection of football apparel, we take pride in offering genuine merchandise that allows you to wear your team's colors with pride.</p>
            <p class="text-lg text-gray-700">Exciting news awaits the football community in Donegal, as we are thrilled to announce the upcoming opening of our second store. Situated in the town of Letterkenny amid the scenic landscapes of Donegal, this store will bring the same commitment to quality and service closer to our Irish patrons.  Check out it's location on the map below!</p>
            <div class="flex items-center justify-center mt-8">
                <div class=" w-full h-64" style="overflow:hidden;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Church+Lane,+Letterkenny,+County+Donegal,+Ireland&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemaps-made" href="https://kbj9qpmy.com/hrn" id="grab-map-authorization"></a><style>#display-google-map img{max-height:none;max-width:none!important;background:none!important;}</style></div>
            </div>
            <h2 class="text-3xl font-bold mt-8 mb-4">Our Soccer Training Plans</h2>
            <p class="text-lg text-gray-700">We understand that a jersey is more than just a piece of fabric; it represents the pride and passion of football fans. Likewise, training plays a crucial role in the development of a player's skills and abilities. Our soccer training plans have been meticulously crafted by seasoned coaches and players, tailored to address various aspects of the game, including technical skills, tactical awareness, fitness, and mental preparation. Whether you're a beginner or an experienced player, our training plans will help you reach your full potential on the field.</p>

            <h2 class="text-3xl font-bold mt-8 mb-4">Commitment to Excellence</h2>
            <p class="text-lg text-gray-700">At our core, we are more than just a retailer; we are a community of football enthusiasts dedicated to elevating the sport we love. Our commitment to excellence extends to every product we offer and every service we provide. As we expand our reach across Britain and Ireland, we remain true to our values of authenticity, integrity, and customer satisfaction.</p>

            <h3 class="text-2xl font-bold mt-8">Join us in celebrating the beautiful game, and explore our wide selection of football jerseys and soccer training plans. Whether you visit our flagship store in London or the soon-to-be-opened store in Donegal, we look forward to being a part of your football journey. Play with passion, train with purpose – together, let's take your football experience to new heights!</h3>
        </div>
    </section>
 </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}