{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center m-6">Bag <i class="fa-solid fa-bag-shopping"></i></div>

{% if bag_items %}
<div class="lg:flex flex-col lg:items-center lg:justify-center md:flex md:items-center md:justify-center">
  {% for item in bag_items %}
  <!--Table 1-->
  <table class="table table-auto lg:w-[60%] md:w-[90%] sm:w-screen overflow-hidden">
    <!-- Table head -->
    <thead>
      <tr>
        <th>Product</th>
        <th>Item</th>
        <th>Price</th>
        <th>Size</th>
      </tr>
    </thead>
    <!--Table body -->
    <tbody>
      <tr>
        <td>
             <!--Product name -->
            <!--Product image -->
            <div class="h-30 w-30">
              <img class="max-h-44 object-contain" src="{{ item.product.image.url }}" alt="Product in bag">
            </div>
        </td>
        <td>
          {{ item.product.name }}
        </td>
        <!-- Price -->
        <td>
          £{{ item.product.price }}
        </td>
        <!-- Size -->
        <td>
          {{ item.product.size }}
        </td>
      </tr>
    </tbody>
  </table>
  <!--Table 2-->
  <table class="table table-auto lg:w-[60%] md:w-[90%] sm:w-screen overflow-hidden mb-10">
    <!-- Table head -->
    <thead>
      <tr>
        <th>Qty</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <!--Table body -->
    <tbody>
      <tr>
        <!--Quantity-->
        <td>
          {{ item.quantity }}
        </td>
        <!-- Subtotal -->
        <td>
          £{{ item.product.price }}
        </td>
        <td>
          <label class="btn bg-red-500 cursor-pointer">
          <a class="pointer text-danger" id="remove_{{ item.item_id }}">Remove From Bag</a>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>
<div class="flex items-center justify-center w-screen mt-8">
  <div>
    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
    <h6>+ Delivery: £{{ delivery|floatformat:2 }}</h6>
    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
    {% if free_delivery_delta > 0 %}
        <p class="mb-1 text-danger">
            Free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
        </p>
    {% endif %}
  </div>
  </div>
  <div class="flex items-center justify-center w-screen mt-8 space-x-4">
  <a href="{% url 'products' %}" class="btn bg-yellow-200">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
<a href="{% url 'checkout' %}" class="btn bg-green-400">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>
</div>
{% else %}
<div>
  <p class="text-center">Your bag is empty</p>
</div>
{% endif %}
{% include 'includes/footer.html' %}
{% include 'includes/timeout_function.html' %}
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // Remove item and reload on click
    $('.pointer').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            })
    })
</script>
{% endblock %}

