{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center m-6">Bag</div>
{% if bag_items %}
<div class="overflow-x-auto">
  <table class="table table-auto">
    <!-- Table head -->
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <!--Table body -->
    <tbody>
      {% for item in bag_items %}
      <tr>
        <td>
             <!--Product name -->
            <!--Product image -->
            <div class="h-30 w-30">
              <img class="max-h-44 object-contain" src="{{ item.product.image.url }}" alt="Product in bag">
              <div class="ml-10">{{ item.product.name }}</div>
            </div>
        </td>
        <!-- Price -->
        <td>
          {{ item.product.price }}
        </td>
        <!--Quantity-->
        <td>
          {{ item.quantity }}
        </td>
        <!-- Subtotal -->
        <td>
          {{ item.product.price }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div>
  <p class="text-center">Your bag is empty</p>
</div>
{% endif %}
{% include 'includes/footer.html' %}
{% endblock %}

