{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center m-6">Bag</div>
<!--Messages-->
{% if messages %}
<ul class="messages" id="fadeout">
    {% for message in messages %}
    <div class="toast toast-end toast-middle">
      <div class="alert alert-warning">
        <li {% if message.tags %} class="{{ message.tags }} object-contain"{% endif %}>{{ message }}</li>
      </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% if bag_items %}
<div class="lg:flex lg:items-center lg:justify-center md:flex md:items-center md:justify-center">
  <table class="table table-auto lg:w-[60%] md:w-[90%]">
    <!-- Table head -->
    <thead>
      <tr>
        <th>Product</th>
        <th>Item</th>
        <th>Price</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <!--Table body -->
    <tbody>
      {% for item in bag_items %}
      <tr>
        <td>
             <!--Product name -->
            <!--Product image -->
            <div class="h-30 w-30">
              <img class="max-h-44 object-contain" src="{{ item.product.image.url }}" alt="Product in bag">
            </div>
        </td>
        <td>
          {{ item.product.name }}
        </td>
        <!-- Price -->
        <td>
          £{{ item.product.price }}
        </td>
        <!-- Size -->
        <td>
          {{ item.product.size }}
        </td>
        <!--Quantity-->
        <td>
          {{ item.quantity }}
        </td>
        <!-- Subtotal -->
        <td>
          £{{ item.product.price }}
        </td>
        <td>
          <label class="btn cursor-pointer">
          <a class="pointer text-danger" id="remove_{{ item.item_id }}">Remove</a>
          </label>
        </td>
      </tr>
      {% endfor %}
      <!--Grand total and delivery -->
      <td colspan="5" class="text-right pt-5">
        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
        <h6>+ Delivery: £{{ delivery|floatformat:2 }}</h6>
        <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
        {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-danger">
                Free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
            </p>
        {% endif %}
    </td>
    </tbody>
  </table>
</div>
{% else %}
<div>
  <p class="text-center">Your bag is empty</p>
</div>
{% endif %}
{% include 'includes/footer.html' %}
{% include 'includes/timeout_function.html' %}
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // Remove item and reload on click
    $('.pointer').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            })
    })
</script>
{% endblock %}

