{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="text-center"></div>
        <h1 class="capitalize">'s' Dashboard </h1>
    </div>
    
    <div class="flex flex-col md:flex-col lg:flex-row lg:space-x-4">
        <!--Order history -->
        <div class="md:w-[50%] sm:mb-5">
          <div class="card h-full">
            <div class="card-body">
                {{ orders }}
            </div>
          </div>
        </div>

        <!--Form-->
        <div class="md:w-[50%]">
          <div class="card h-full">
            <div class="card-body">
            <h2 class="card-title mb-4">Update Info</h2>
            <!--Form body-->
               
            </div>
            </div>
          </div>
        </div>
      </div>
    
    {% include 'includes/footer.html' %}
{% endblock %}


