{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center text-lg font">Saved Items</h1>
<div class="flex items-center justify-center w-full mt-8">
    <div>
     {{ saved_products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </div>
    <div>
        <h2>You have no saved items go have a look at our great <a href="{% url 'products' %}">Products</a></h2>
    </div>
  </div>
{% include 'includes/footer.html' %}
{% endblock %}