{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}
<!doctype html>
<html lang="en">
  <head>
   <!--Meta block-->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!--Extra Meta block-->
    {% block extra_meta %}
    {% endblock %}
    
    <!--Tailwind CSS + Daisy UI extension -->
    {% tailwind_css %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    <!--JS block-->
    {% block corejs %}
    <script src="https://kit.fontawesome.com/602c42d7e5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endblock %}

    <!--Extra JS block-->
    {% block extra_js %}
    {% endblock %}

    {% load ratings %}

    <title>Foot Galaxy {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="font-medium m-0 overflow-x-hidden text-black dark:text-white dark:bg-slate-800">
    <div class="drawer z-10">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="w-full navbar bg-base-300">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-3" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
          </div> 
          <div class="flex-1 px-2 mx-2">
            <a href="{% url 'home' %}"><img src="{% static 'images/horizontal-logo.jpg' %}" alt="logo" class="h-15 w-15"></a>
          </div>
          <!--Search Bar-->
          <form class="mt-[]" method="GET" action="{% url 'products' %}">
            <div class="input-group hidden md:block">
              <button class="btn btn-square" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
              </button>
          </div>
            <div class="input-group hidden md:block">
                <input class="input" type="text" name="q" placeholder="Search">
            </div>
        </form>
          <div class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal">
              <!-- Navbar menu content here -->
              <!--Nav item 1-->
              <li class="mt-[12px]"><a>
                <div class="dropdown dropdown-bottom dropdown-end">
                  <label tabindex="0" class="m-1">
                    <!-- Avatar displays users first letter of account -->
                    <div class="avatar placeholder">
                      <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                        {% if user.is_authenticated %}
                        <span class="text-xl capitalize m-0">{{ user.username|first }}</span>
                        {% else %}
                        <span class="text-xl"><i class="fa-regular fa-user"></i></span>
                        {% endif %}
                      </div>
                    </div> 
                  </label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <!--Profile -->
                    <li>
                      <a class="justify-between" href="{% url 'profile' %}">Profile</a>
                    </li>
                      <!-- If authenticated add a product  -->
                    {% if request.user.is_authenticated %}
                    <li>
                      <a href="{% url 'add_product' %}">Add a product</a>
                    </li>
                    {% endif %}
                    <!-- If authenticated users saved items  -->
                    {% if request.user.is_authenticated %}
                    <li>
                      <a href="{% url 'saved_products' %}">Saved Items</a>
                    </li>
                    {% endif %}
                    <!-- If authenticated users saved items  -->
                    {% if user.is_authenticated %}
                  <li class="nav-item"> <!--Log out-->
                      <a href="{% url 'account_logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item"> <!-- sign up-->
                      <a href="{% url 'account_signup' %}">Sign up</a>
                  </li>
                  <li><!--Log in-->
                      <a href="{% url 'account_login' %}">Log In</a>
                  </li>
                  {% endif %}
                  </ul>
                </div>
              </a></li>
              <!--Nav item 2 -->
              <li><a>
                <div class="dropdown dropdown-bottom dropdown-end">
                  <label tabindex="0" class="m-1">
                    <svg class="flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true"  fill="currentColor" viewBox="0 0 18 21">
                      <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                   </svg>
                  </label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <p class="text-center">Shop</p>
                    <li><a href="{% url 'products' %}">Jerseys</a></li>
                  </ul>
                </div>
              </a></li>
              <!--Nav item 3 -->
              <li class="mt-[14px]"><a href="{% url 'bag' %}">
                <div class="dropdown">
                  <label tabindex="0" class="m-1">
                    <svg class="flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
                   </svg>
                   <p class="my-0">
                    {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                    {% else %}
                        $0.00
                    {% endif %}
                   </p>
                   </label>
                   <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                  </ul>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Drawer -->
      <div class="drawer-side overflow-hidden">
        <label for="my-drawer-3" class="drawer-overlay"></label> 
        <ul class="menu p-4 w-80 h-full bg-base-200">
          <!-- Sidebar content here -->
          <li>
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group">
                  <input class="input input-bordered" type="text" name="q" placeholder="Search">
                  <div class="input-group">
                      <button class="btn btn-square" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                      </button>
                  </div>
              </div>
          </form>
          </li>
          <li>
            <a href="{% url 'home' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
               <span class="ml-3">Home</span>
            </a>
         </li>
         <li class="right-2"><a href="{% url 'bag' %}">
            <label tabindex="0" class="m-1 h-10 w-10">
              <svg class="flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
             </svg>
             <p class="my-0">
              {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
              {% else %}
                  $0.00
              {% endif %}
             </p>
             </label>
        </a></li>
         <li>
            <a href="{% url 'profile' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group mr-2">
              <label tabindex="0">
                  <div class="avatar placeholder pr-4">
                    <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                      {% if user.is_authenticated %}
                        <span class="text-xl capitalize m-0">{{ user.username|first }}</span>
                        {% else %}
                        <span class="text-xl"><i class="fa-regular fa-user"></i></span>
                        {% endif %}
                    </div>
                  </div> 
                </label>
               <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
            </a>
         </li>
         <li>
          <a href="{% url 'products' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <i class="fa-solid fa-shirt"></i>
             <span class="flex-1 ml-3 whitespace-nowrap">Jerseys</span>
          </a>
       </li>
         {% if user.is_authenticated %}
         <li>
          <a href="{% url 'account_logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
             <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
             </svg>
             <span class="flex-1 ml-3 whitespace-nowrap">Sign Out</span>
          </a>
       </li>
       {% else %}
         <li>
            <a href="{% url 'account_login' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
            </a>
         </li>
         <li>
            <a href="{% url 'account_signup' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                  <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                  <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
            </a>
         </li>
         {% endif %}
        </ul> 
      </div>
    </div>

    <!--Messages popup block-->
    <!--Messages-->
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/messages/error.html' %}
        {% elif level == 30 %}
        {% include 'includes/messages/warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/messages/success.html' %}
        {% else %}
        {% include 'includes/messages/warning.html' %}
        {% endif %}
      {% endwith %}
    {% endfor %}
    </ul>
    {% endif %}
    
    <!--Main block content block-->
    {% block content %}
    {% endblock %}

    <!--Post load js block -->
    {% block postloadjs %} 
    {% endblock %}
    {% include 'includes/timeout_function.html' %}
  </body>
</html>