{% load static %}
{% load tailwind_tags %}
<!doctype html>
<html lang="en">
  <head>
   <!--Meta block-->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    <!--Extra Meta block-->
    {% block extra_meta %}
    {% endblock %}
    
    <!--Tailwind CSS + Daisy UI extension -->
    {% tailwind_css %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!--Django star rating plugin-->
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
    {% endblock %}

    <!--JS block-->
    {% block corejs %}
    <script src="https://kit.fontawesome.com/602c42d7e5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    {% endblock %}
    <!--Extra JS block-->
    {% block extra_js %}
    {% endblock %}

    <title>Foot Galaxy {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <div class="navbar bg-slate-400 bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-3xl text-white" style="font-family: 'Chela One', cursive;"><i class="fa-solid fa-futbol"></i> Foot Galaxy</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-hover hidden lg:block">
          <label tabindex="0">
            <div class="avatar placeholder pr-4">
              <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                <span class="text-xl">MM</span>
              </div>
            </div> 
          </label>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <a class="justify-between" href="#">Profile</a>
            </li>
            <li>
              <a href="#">Saved Items</a>
            </li>
            <li>
              <a href="#">My Plans</a>
            </li>
            {% if user.is_authenticated %}
          <li class="nav-item"> <!--Log out-->
              <a href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item"> <!-- sign up-->
              <a href="{% url 'account_signup' %}">Sign up</a>
          </li>
          <li><!--Log in-->
              <a href="{% url 'account_login' %}">Log In</a>
          </li>
          {% endif %}
          </ul>
        </div>
        <div class="dropdown dropdown-hover pr-4 hidden lg:block">
          <label tabindex="0" class="btn m-1">Shop</label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="{% url 'products' %}">Gear</a></li>
            <li><a>Plans</a></li>
          </ul>
        </div>
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>
      </div>
    </div>

    <!--Messages popup block-->
    {% if messages %}
    {% endif %}
    <!--Main block content block-->
    {% block content %}
    {% endblock %}

    <!--Post load js block -->
    {% block postloadjs %}
    {% endblock %}
  </body>
</html>