{% extends "base.html" %}
{% load static %}

{% block content %}
<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hi!</h3>
    <p class="py-4">Create an account if you want to save an item</p>
  </div>
  <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>


<section class="overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="Football Jersey" class="lg:w-1/2 w-full object-cover object-center" src="{{ product.image.url }}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm mb-1">{{ product.brand }}</h2>
        <h1 class="text-3xl mb-1">{{ product.name }}</h1>
        <div class="flex mb-4">
          <span class="flex ml-3 pl-3 py-2space-x-2">
            {% if request.user.is_superuser %}
            <label class="btn bg-accent-focus">
              <a href="{% url 'edit_product' product.id %}">Edit product</a>
            </label>
            <label class="btn bg-warning">
              <a href="{% url 'delete_product' product.id %}">Delete product</a>
            </label>
            {% endif %}
          </span>
        </div>
        <p class="leading-relaxed">{{ product.desc }}</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          <div class="flex items-center">
            <span class="text-2xl">Size: {{ product.size }}</span>
            <span class=" font-medium text-2xl ml-5">£ {{ product.price }}</span>
          </div>
        </div>
        <div class="flex flex-col">
          {% if request.user.is_authenticated %}
          <form action="{% url 'save_product' product.id %}" method="post">
            <input id="save-product" type="submit" name="save-product" value="">
            {% csrf_token %}
            <label for="save-product"><i class="fa-regular fa-bookmark cursor-pointer text-xl"></i></label>
           </form>
           {% else %}
           <label for="my_modal_7">
            <i class="fa-regular fa-bookmark"></i>
           </label>
           {% endif %}
          <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
            <div class="mt-4 w-full flex-row">
                <input type="submit" class="btn bg-red-500" value="Add to Bag">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <label class="btn"><a href="{% url 'products' %}">Keep Shopping</a></label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'includes/footer.html' %}
{% include 'includes/timeout_function.html' %}
{% endblock %}